.selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
  min-width: 400px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(89, 80, 80);
}
.gameWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 45px;
  margin-bottom: 20px;
}
