body {
  background-color: white;
  margin: 0;
  font-family: fontAwesome, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "fontAwesome";
  src: url("assets/fonts/fontawesome-webfont.ttf") format("ttf");
}

.btn {
  box-shadow: none !important;
  i {
    margin-right: 5px;
  }
}
.btn-success {
  box-shadow: none !important;
  border: none;
  background: hsl(104deg 49% 49%) !important;
}

.btn-warning {
  color: white !important;
}

.btn-success:active {
  background: white;
}

p {
  margin: 0 !important;
}

* {
  margin: 0;
  padding: 0;
}
